.aboutme .aboutme--container__header img{
    width: 200px;
    border: 10px solid $just-white;
    border-radius: 100%;
    margin-top: 60px;
}

.aboutme--container__body{
    width: 600px;
    margin-left: 50px;
}

.projects--container__cards {
    width: 95%;
}

.companies--img img{
    width: 130px;
}

#liverpool{
    width: 200px;
}