.p-footer{
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgb(243, 243, 243);
}
.p-footer--container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & p{
        @include awesome-text;
        font-size: 0.55rem;
        color: $WarmBlack;
    }
}
