@import "base/reset";
@import "base/loader";
@import "libs/vars";
@import "libs/mixins";
@import "components/buttons";
@import "components/navbar";
@import "breakpoints/laptopS";

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    height: 100px;
    background: $warm-black;
}

footer p{
    align-self: center;
    text-align: center;
    color: $grey;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}