#menu .menu--container{
    position: fixed;
    z-index: 1000;
    margin-top: 20px;
    padding-left: 15px;
}

#burger {
    font-size: 2.1rem;
    color: $just-white;
}

#showUp{
    display: none;
    position: fixed;
    width: 30vw;
    min-width: 200px;
    max-width: 300px;
    padding-top: 70px;
    height: 100vh;
    background: $warm-black;
    z-index: 999;
}

#showUp .showUp--container .showUp--container__items {
    margin: 0 10px 25px 0;
    padding: 15px;
    border-bottom: 1px solid $just-white;
    border-radius: 10px;
}
#showUp .showUp--container .showUp--container__items a {
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: $grey;
}
.rotateActive {
    transform: rotate(90deg);
}
