main {
  background-attachment: fixed;
}

.about--container,
.work--container,
.camera--container,
.cofounder--container {
  border-bottom: none;
}

.everything--container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "about" "work" "camera" "cofounder";
}

.about,
.work,
.camera,
.cofounder {
  background-attachment: fixed;
}

.about {
  background-image: url("../../../images/about2.jpg");
}

.work {
  background-image: url("../../../images/work2.jpg");
}

.cofounder {
  background-image: url("../../../images/cofounder2.jpg");
}

.aboutme--container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutme--container__body {
  width: 500px;
  margin-left: 40px;
}

.aboutme--container__body p {
  width: 55vw;
  min-width: 320px;
  max-width: 600px;
}

.skills--cards__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills--cards__details {
  width: 300px;
  margin: 10px 10px;
}

.projects--container__cards {
  width: 90%;
}

.clients--container__companies {
  width: auto;
  margin-top: 30px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "companies--img" "companies--img" "companies--img" "companies--img";
  align-items: center;
  justify-content: space-evenly;
}